@{
    ViewData["Title"] = "Team Members";
}

@model WebApp.ViewModels.MembersViewModel

@await Html.PartialAsync("Partials/Sections/_AddMemberForm", Model.NewMemberForm)

<section id="team-members">
    <header class="flex-between">
        <h1>@ViewData["Title"]</h1>
        <button type="button"  data-type="modal" data-target="#add-member-modal" class="btn btn-add btn-blue">Add Member</button>
    </header>
    <div class="members-list">
        @if (Model.Members.Any())
        {
            @foreach (var member in Model.Members)
            {
                <div class="card member">
                    <img class="image" src="~/images/avatars/avatar-template.svg" alt="A sample avatar image">
                    <h4 class="name">@member.FirstName @member.LastName</h4>
                    <div class="jobTitle">@member.JobTitle CEO</div>
                    <div class="email">@member.Email</div>
                    <div class="phone">@member.Phone+46 234-565 67 78</div>
                    <div class="role"></div>
                </div>
            }
        }
        else
        {
            <Span>No member found</Span>
        }
    </div>
    
</section>
