@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Models.EditProjectViewModel

<div id="edit-project-modal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-close="true" data-type="modal" data-target="#edit-project-modal" ></button>
        </div>
        
        <form id="modal-form" class="card-body" novalidate method="post" enctype="multipart/form-data" asp-action="Update" data-type="modal" asp-controller="Projects">
            <input type="hidden" asp-for="Id" />
            <div class="image-previewer square">
                <img class="image-preview" src="" alt=""/>
                <input asp-for="Image" accept="image/*" class="hide">
            </div>
            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" class="form-control @(ViewData.ModelState["ProjectName"]?.Errors.Any() == true ? "is-invalid" : "")" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="ClientId"></label>
                <div class="form-select" data-placeholder="Choose a client">
                    <button type="button" class="form-select-trigger">
                        <span class="form-select-text"></span>
                    </button>
                    <ul class="form-select-options">
                        @foreach (var client in (IEnumerable<Domain.Models.Client>)ViewBag.Clients)
                        {
                            <li class="form-select-option" data-value="@client.Id">@client.Name</li>
                        }
                    </ul>
                    <input type="hidden" asp-for="ClientId"
                           class="@(ViewData.ModelState["ClientId"]?.Errors.Any() == true ? "is-invalid" : "")" />
                </div>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="Description"></label>
                <input id="edit-project-description" asp-for="Description" type="hidden"></input>
                <div id="edit-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>
                <div id="edit-project-description-wysiwyg-toolbar" class="wysiwyg-toolbar">
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-align" value=""></button>
                        <button class="ql-align" value="center"></button>
                        <button class="ql-align" value="right"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
            
            <div class="form-horizontal-group">
                <div class="form-group">
                    <label class="form-label" asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control form-input 
                        @(ViewData.ModelState["StartDate"]?.Errors.Any() == true ? "is-invalid" : "")" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="EndDate"></label>
                    <input class="form-input" asp-for="EndDate"/>
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Member</label>
                <div class="form-select" data-placeholder="Choose a member">
                    <button type="button" class="form-select-trigger">
                        <span class="form-select-text"></span>
                    </button>
                    <ul class="form-select-options">
                        <li class="form-select-option" data-value="1">John Doe</li>
                        <li class="form-select-option" data-value="2">Sara Caner</li>
                    </ul>
                    <input type="hidden" name="member-select-value"/>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" class="form-control form-input budget-input @(ViewData.ModelState["Budget"]?.Errors.Any() == true ? "is-invalid" : "")" />

                    <div class="form-input-extended">
                        <i class="fa-duotone fa-solid fa-dollar-sign"></i>
                    </div>
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Save</button>
        </form>
    </div>
</div>